body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,a,button{margin:0;padding:0;}
ol,li,ul{margin:0; padding:0;list-style: outside none none;}
p,div {word-wrap:break-word;}
a{text-decoration:none;color: inherit;}
img{border: 0;}
table{border-collapse:collapse;border-spacing:0;}
label {cursor:pointer;}
input, button, textarea, select {font-size: inherit;width: auto;padding:0;}
ol, ul { list-style: none; }



body {font-family: "Microsoft YaHei", 'Open Sans', sans-serif;background-color: #ececec;}


.top_topic{min-width:1000px;height:130px;background-color:#ffc000;}
.top_page{height:100%; float:left;}
.top_page img{max-width:50px; max-height:50px;margin:40px;}
.top_all{width:1000px;position:relative;margin:0 auto;height:130px;}
.top_book{padding-right:40px;height:130px;float:left;background-color:#474443;width:630px;}
.top_select{margin-left:25px;float:left;margin-top:50px;text-align:center;color:#b6b6b7;font-weight:bold;cursor:pointer;}
.top_select p{min-width:50px;}
.top_select_active{color:#ffc000;}
.top_introduction{position:absolute;top:40%;right:10%;color:#ffffff;font-weight:bold;font-size:12px;}
.top_point {width:50px;margin-top:46px;display:none; }
.top_select_active .top_point {display: inline-block;}
.top_logo{position:absolute; right:0;top:25px; }
.top_logo img {width:50px;}



/*在线客服*/
.small_label{position:fixed; top:50%; right:20px;cursor: pointer;}
.small_label img {width:60px;}
.small_label_border{position:absolute;right:0;top:-130px;width:100px;height:100px;border:2px solid #f7b24d;z-index:2;border-radius:6px;background-color:#fefefe;display:none;}
.small_label_border:before{content:'';width:0;height: 0;border: 18px solid transparent; border-top-color: #f7b24d;position: absolute;left:55%;top:100%;}
.small_label_border:after{content:'';width: 0;height: 0; border: 16px solid transparent;  border-top-color: #ffffff;  position: absolute;  left: 57%; top:99%;}
.small_label_border img {width:100px;margin-top: 1px;}


/*底部*/
.ending{position:relative;bottom:0;min-width:1000px; height:200px;background-color:#5f5d5d;margin-top:40px;}
.ending_all{margin:0 auto;height:100%;width:1000px;position:relative;}
.ending_left{margin-top:40px;display:inline-block;width:240px;}
.ending_left h3 {color:#ffc000;font-size:24px;}
.ending_left li{float:left;margin:10px 20px 0 0; font-size:14px;color:#c9c9c9;letter-spacing:1px}
.ending_mid a{position:absolute; top:40px; left:48%;color:#c9c9c9}
.ending_bottom p{position:absolute; bottom:20px; left:30%;color:#c9c9c9;font-size:10px;}
.ending_right{position:absolute; top:40px;right:0;}
.ending_list a{color:#c9c9c9;}
.ending_right p {float:left;font-size:16px; color:#c9c9c9;}
.ending_border{position:absolute;top:-130px;right: -9px; width:100px; height:100px;border:2px solid #f7b24d;z-index:2;border-radius:6px;background-color:#fefefe;}
.ending_border:before{content:'';width: 0;   height: 0; border: 18px solid transparent;  border-top-color: #f7b24d;  position: absolute;  left: 40%; top:100%;}
.ending_border:after{content:'';width: 0;   height: 0; border: 16px solid transparent;  border-top-color: #ffffff;  position: absolute;  left: 42%; top:99%;}
.ending_border img {width:100px;margin-top: 2px;}
