body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,a,button{margin:0;padding:0;}
ol,li,ul{margin:0; padding:0;list-style: outside none none;}
p,div {word-wrap:break-word;}
a{text-decoration:none;color: inherit;}
img{border: 0;}
table{border-collapse:collapse;border-spacing:0;}
label {cursor:pointer;}
input, button, textarea, select {font-size: inherit;width: auto;padding:0;}
ol, ul { list-style: none; }



body {font-family: "Microsoft YaHei", 'Open Sans', sans-serif;background-color: #ececec;}




/*首页*/



/*中间*/
.matter,.column{position:relative;  width:100%;height:100%;}
.matter_all{margin:0 auto;height:100%;width:1000px;background-color:#fefefe;}
.matter_enounce_1,.matter_enounce_2{text-align:center;padding: 60px 0;}
.matter_enounce_1 p,.matter_enounce_2 p{font-size:20px;color:#8b8b8c;}
.matter_radius{background-color:#ffc000; width:140px; height:140px;float:left;margin-right:50px;border-radius:100px;color:#5f5f5d;}
.matter_book{position:relative;height:150px;}
.matter_radius h1{font-size:14px;margin-top:50px;text-align:center;font-weight:bold;}
.matter_radius p{font-size:8px;text-align:center;margin-top:6px;color:#5f5f5d}
.matter_radius strong{font-size:16px;}
/*羊爸爸专栏*/
.column_all{margin:0 auto;height:100%;width:1000px;}
.column_community,.column_app,.column_commonweal{width:1000px;height:200px;margin-top:20px;position:relative;}
.column_community{background-color:#5f5f5d;}
.column_app{background-color:#757475;}
.column_commonweal{background-color:#757475;}
.column_app h2{color:#ffc000}
.column_community h2{color:#bcc774;}
.column_commonweal h2{color:#fefefe;}
.column_all h2 {float:left;margin:60px 30px 60px 40px;font-size:62px;font-weight:400;}
.column_community p,.column_app p,.column_commonweal p{position:relative;color:#b6b6b7;}
.column_all span{color:#b6b6b7;font-size:14px;letter-spacing:0.5px;}
.column_all a{position:absolute; top:65px;right:30px;display:inline-block; }
.column_all img {width:16px;height:24px;position:relative;top:5px;left:12px;}
/*底部*/
.ending{min-width:1000px; height:200px;background-color:#5f5d5d;margin-top:40px;}
.ending_all{margin:0 auto;height:100%;width:1000px;position:relative;}
.ending_left{margin-top:40px;display:inline-block;width:240px;}
.ending_list a{color:#c9c9c9;}
.ending_left h3 {color:#ffc000;font-size:24px;}
.ending_left li{float:left;margin:10px 20px 0 0; font-size:14px;color:#c9c9c9;letter-spacing:1px}
.ending_mid a{position:absolute; top:40px; left:48%;color:#c9c9c9}
.ending_bottom p{position:absolute; bottom:20px; left:25%;color:#c9c9c9;font-size:10px;}
.ending_right{position:absolute; top:40px;right:0;}
.ending_right p {float:left;font-size:16px; color:#c9c9c9;}
.ending_border{position:absolute; right:0;top:-130px; width:100px; height:100px;border:2px solid #f7b24d;z-index:2;border-radius:6px;background-color:#fefefe;}
.ending_border:before{content:'';width: 0;   height: 0; border: 18px solid transparent;  border-top-color: #f7b24d;  position: absolute;  left: 40%; top:100%;}
.ending_border:after{content:'';width: 0;   height: 0; border: 16px solid transparent;  border-top-color: #ffffff;  position: absolute;  left: 42%; top:99%;}


/*课程页*/

/*文本内容*/
.text{width:100%;}
.text_all{width:1000px;margin:0 auto;background-color:#ffffff;}
.text_content1 h2,.text_content2 h2{color:#ffc000; font-size:20px;padding:40px 0 20px 40px;font-weight:600;}
.text_content1 p{font-size:10px;color:#474443; line-height:30px; letter-spacing:0;font-weight:600;max-width:630px;word-wrap:break-word;margin-left:40px;}
.text_content2 {margin: 60px 0 0 40px; border-top:1px solid #e4e4e4;width:635px;}
.text_content2 img {width:100px; height:100px; border:1px solid #ffc000;}
.text_content3 img {width:100px;margin: 0 0 60px 400px;}
.text_content3{margin-top:60px;}
/*在线客服*/
.small_label{position:fixed; top:300px; right:20px;cursor: pointer;}
.small_label img {width:60px;}
.small_label_border{position:absolute;right:0;top:-130px;width:100px;height:100px;border:2px solid #f7b24d;z-index:2;border-radius:6px;background-color:#fefefe;display:none;}
.small_label_border:before{content:'';width:0;height: 0;border: 18px solid transparent; border-top-color: #f7b24d;position: absolute;left:55%;top:100%;}
.small_label_border:after{content:'';width: 0;height: 0; border: 16px solid transparent;  border-top-color: #ffffff;  position: absolute;  left: 57%; top:99%;}
/*底部*/
.ending{position:relative;bottom:0;min-width:1000px; height:200px;background-color:#5f5d5d;margin-top:40px;}
.ending_all{margin:0 auto;height:100%;width:1000px;position:relative;}
.ending_left{margin-top:40px;display:inline-block;width:240px;}
.ending_left h3 {color:#ffc000;font-size:24px;}
.ending_left li{float:left;margin:10px 20px 0 0; font-size:14px;color:#c9c9c9;letter-spacing:1px}
.ending_mid a{position:absolute; top:40px; left:48%;color:#c9c9c9}
.ending_bottom p{position:absolute; bottom:20px; left:30%;color:#c9c9c9;font-size:10px;}
.ending_right{position:absolute; top:40px;right:0;}
.ending_list a{color:#c9c9c9;}
.ending_right p {float:left;font-size:16px; color:#c9c9c9;}
.ending_border{position:absolute; right:0;top:-130px; width:100px; height:100px;border:2px solid #f7b24d;z-index:2;border-radius:6px;background-color:#fefefe;}
.ending_border:before{content:'';width: 0;   height: 0; border: 18px solid transparent;  border-top-color: #f7b24d;  position: absolute;  left: 40%; top:100%;}
.ending_border:after{content:'';width: 0;   height: 0; border: 16px solid transparent;  border-top-color: #ffffff;  position: absolute;  left: 42%; top:99%;}